body {
background-color: #1e1e1d;
color: #f8f8f8;
font-family: helvetica, arial, sans-serif;
}

a {
color: #ffad15;
display: inline-block;
margin-top: 2em;
text-decoration: none;

display: none;
}

input {
border: 0;
border-radius: 3px;
box-sizing: border-box;
font-size: 1em;
padding: 0.6em 0.6em;
width: 35%;
float: left;
clear: left;
}

video {
width: 1280px;
height: 720px;
float: left;
}
